In [1]:
num1=10
num2=7
print(num1/num2)
print(num1%num2)
print(num1//num2)

1.4285714285714286
3
1

In [2]:
# 문자열을 더 할수있다
str1='안녕'
str2="하세요"
str1+str2

'안녕하세요'

In [3]:
str1='10'
str2='7'
str1+str2

'107'

In [4]:
num=10
str2='7'
num + str2
# 타입이 다르면 연산 안됨

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [5]:
# 타입이 달라서 연산 안되면 형변환시도
# 숫자를 문자로 변환
num1=15
str2='10'
print(str(num1)+str2)
# 문자를 숫자로 변환
print(num1+int(str2))

1510
25

In [6]:
num1=23
num2=3

print(f'더하기 결과 : {num1+num2}')
print(f'빼기 결과 : {num1-num2}')
print(f'곱하기 결과 : {num1*num2}')
print(f'나누기 결과 : {num1/num2}')

더하기 결과 : 26
빼기 결과 : 20
곱하기 결과 : 69
나누기 결과 : 7.666666666666667

In [7]:
num1=15
str2='10'
print(str(num1)+str2)
print(num1+int(str2))

1510
25

In [8]:
num1=23
num2=3
print('더하기 결과 : ' + str(num1-num2))
print('곱하기 결과 : ' , (num1*num2))
print('나누기 결과 : ' , (num1/num2))

더하기 결과 : 20
곱하기 결과 :  69
나누기 결과 :  7.666666666666667

In [21]:
# 입력문을 통해서 num1과num2를 입력받고 연산 결과를 출력
# input('표시할문장')

num1= int(input ("정수룰 입력>>"))
num1= int(input ("정수룰 입력>>"))
print(f'더하기 결과 : {num1+num2}')
print('빼기 결과 : ' + str(num1-num2))
print('곱하기 결과 : ' , (num1*num2))
print('나누기 결과 : ' , (num1/num2))

# 빼기부터는 에러가 발생 이유를 살펴보자
# 입력문은 문자열 값으로 나온다
# 숫자 연산을 위해서는 형 변환이 필요하다

정수룰 입력>>10
정수룰 입력>>7
더하기 결과 : 17
빼기 결과 : 3
곱하기 결과 :  70
나누기 결과 :  1.4285714285714286

In [20]:
print(type(num2))
print(type(num1))

<class 'str'>
<class 'str'>

In [29]:
python= int(input ("python 점수 입력>>"))
머신러닝= int(input ("머신러닝 점수 입력>>"))
딥러닝= int(input ("딥러닝 점수 입력>>"))


print(f'합계: {python+머신러닝+딥러닝}')
print(f'평균: {(python+머신러닝+딥러닝)/3}')

python 점수 입력>>100
머신러닝 점수 입력>>80
딥러닝 점수 입력>>60
합계: 240
평균: 80.0

In [38]:
time=int(input ("시간 입력(초)>>"))
hour = time//3600  
minute = time%3600//60 
second = time%60
print("{}시간 {}분 {}초".format(hour,minute,second))

시간 입력(초)>>7533
2시간 5분 33초

In [ ]:
# 문자열 곱하기
s= '*'
print(s*10)

In [ ]:
s='안녕하세요'
print(s*2)
print(s+s)

In [ ]:
# 지수연산자 문제
num=int(input ("정수입력>>"))
po = int(input ("지수입력>>"))
print(f'{num}의 {po}승은 {num**po}입니다')

In [50]:
# s= '*'
print('*'*10,"연산하기","*"*10)
num1=int(input ("정수입력>>"))
num2=int(input ("정수입력>>"))
cal = input("+연산자 입력 >>")

print("{}{}{}={}".format(num1,cal,num2,num1+num2))

********** 연산하기 **********
정수입력>>10
정수입력>>20
+연산자 입력 >>+
10+20=30

In [54]:
type(cal)

str

In [52]:
num=27
num+=3
num

30

In [53]:
num=100
num-=55
num

45

In [55]:
num2=100
num = num -55
num

-10

In [62]:
num=27
num+=3
num+=3
num+=3
num

36

In [63]:
# 나누기는 실수형으로 나온다
# 변수치환
a=7
b=3
temp=a
a=b
b=temp
print("a:",a)
print("b:",b)

a: 3
b: 7

In [65]:
a=7
b=3
a,b=b,a
print("a:",a)
print("b:",b)

a: 3
b: 7

In [66]:
a=3
b=7
print(a>b)
print(a<=b)
print(a==b)
print(a!=b)

False
True
False
True

In [71]:
# random.randint : 범위내의 값을 랜덤으로 뽑아주는 함수(정수)
import random
a= random.randint(1,10)
b= random.randint(1,10)
print(f"a:{a}, b:{b}")

print(a>b)
print(a<=b)
print(a==b)
print(a!=b)

a:4, b:3
True
False
False
True

In [75]:
a=3
b=7
print(not a<b)
not a==b

False

True

In [76]:
# 삼항연산자 참이면 앞의 로직이 실행됨
score=80
"합격"if score >=60 else "불합격"

'합격'

In [77]:
score=50
"합격"if score >=60 else "불합격"

'불합격'

In [83]:
a=int(input ("정수입력>>"))
b=int(input ("정수입력>>"))
# print (a if a>b else b) 
# 삼항연산자
print ('a: ',a)  if a>b else  print ("b :",b)

정수입력>>2
정수입력>>3
b : 3

In [ ]:
a=int(input ("정수입력>>"))
print (a+'는 짝수') if a%=2 else print('홀수')