In [ ]:
# for 변수 in 문자열(or리스트 or튜플) :

In [1]:
hi = '안녕하세요'
for s in hi :
    print(s)

안
녕
하
세
요

In [11]:
score=[90,45,70,60,55]
num =1
for i in score :
    if i >= 60 : 
        print(f'{num}번 학생은 합격입니다')
        num +=1
        
    else :

        print(f'{num}번 학생은 불합격입니다')
        num +=1

1번 학생은 합격입니다
2번 학생은 불합격입니다
3번 학생은 합격입니다
4번 학생은 합격입니다
5번 학생은 불합격입니다

In [10]:
# 교수님 방법
score1=[90,45,70,60,55]
cnt =0
for i in score :
    cnt += 1
    if i >= 60 : 
        print(f'{cnt}번 학생은 합격입니다')       
    else :
        print(f'{cnt}번 학생은 불합격입니다')

1번 학생은 합격입니다
2번 학생은 불합격입니다
3번 학생은 합격입니다
4번 학생은 합격입니다
5번 학생은 불합격입니다

In [9]:
list15 = ['a', 'b', 'c', 'd']
for i in range (len(list15)) :
    print(list15[i])

a
b
c
d

In [ ]:
score2=[57,86,63,92,35,79]
num =0
gr =''
for i in score2 :
    num += 1
    if i>= 80 :
        gr='a'
        print(f'{num}번은 {i}점 이며 {gr} 등급입니다')
    elif i>=60 & i<80:
        gr='b'
        print(f'{num}번은 {i}점 이며 {gr} 등급입니다')
    else :
        gr='c'
        print(f'{num}번은 {i}점 이며 {gr} 등급입니다')

In [ ]:
# 고수님 방법
score3=[57,86,63,92,35,79]
num =0 
for i in score3 :
    if i>= 80 :
        gr='a'
    elif i>=60 & i<80:
         gr='b'
    else :
        gr='c'
    num += 1
    print(f'{num}번은 {i}점 이며 {grade} 등급입니다')

In [ ]:
# range() 함수사용
# 슬라이싱 규칙 적용
# range(시작숫자,종료숫자+1,증가량)

In [23]:
#  print(end=출력후에 어떤 작업할 것인가? 옵션지정 --> 개행 ,띄어쓰기)
for i in range (1,10,1) :
    print(i,end=" ")

1 2 3 4 5 6 7 8 9

In [37]:
# ??
for i in range (10,0,-1) :
    print(i)

10
9
8
7
6
5
4
3
2
1

In [25]:
# range() 함수속성 
# range(시작숫자,종료숫자+1,증가량)
# 1.하나의 값을 생략하는 경우 (증감량 생략(기본값은 +1))

for i in range (1,10) : 
    print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
# 2. 두개의 값을 생략하는 경우(시작값 생랙 (기본값 0) 증감량 생략(기본값은 +1))

for i in range (10) : 
    print(i)

In [40]:
# 97~77
for i in range (97,76,-1) :
    print(i,end=" ")

97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77

In [30]:
# 23~39
for i in range (23,40) :
    print(i,end=" ")

23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39

In [31]:
# 2차원 리스트 출력하기   # 리스트내 변수내에 다중 입력 한 것과 같다
list1 = [
    [1,2],
    [3,4],
    [5,6]]
for i,j in list1 :
    print(i,j)

1 2
3 4
5 6

In [35]:
# 최대값 최소값 구하기
list5=[4,5,2,1,99,15,2,7,27]
a= list5[0]
for i in list5 :    
    if a<i:
        a=i   
print(a)

99

In [ ]:
# 1부터~100 3배의 배수인 값들의 합
num=0
for i in range (1,101)
    if i%3==0 :
        num = i
        num2 += num
print(num2)

In [ ]:
# 구구단 2단
int = 2
for i in (1,10)
    print(f'{dan} * {i}  = {dan*i})

In [ ]:
sum1 =0
for i in range (0,101,3)
    sum1+=i
print(sim1)

In [ ]:
for i in (1,10)
    # print(f'{dan} * {i}  = {dan*i})
    print(f'2*{i} = {2*i})

In [49]:
asc = int(input ("정수입력>> "))

for i in range(1,asc+1) :
    if asc % i == 0 :
        print (i,end=" " )

정수입력>> 32
1 2 4 8 16 32

In [50]:
# 약수 교수님
num = int(input ("정수입력>> "))
print (f'{num}의 약수: ' ,end=" " )
for i in range(1,num+1) :
    if num % i == 0 :
        print (i,end=" " )

정수입력>> 32
32의 약수:  1 2 4 8 16 32