In [ ]:
# 앞의 색이 파란색이면 commmend mode (주피터 노트북 제어)
# 앞의 색이 노란색이면 edit mode (코드 작성 및 내용 입력)
# 파이썬 주석은 #기호

In [ ]:
# commmend mode 조작법
# 파란색생일때 b키: 아래에 셀 추가
# 파란색생일때 a키: 위에 셀추가
# 파란색생일때 dd키:셀삭제
# 파란색생일때 엔터키:edit mode로 전환
# 파란색생일때 x키: 셀잘라내기
# 파란색생일때 v키: 셀붙여넣기

파란색상일때 m :마크다운(연습장)
# 제목1
## 제목2
### 제목3
#### 제목4
##### 제목5
##### 제목6
- 안녕하세요 오늘 처음이죠
    - 앞으로 파이썬도

In [62]:
# 코드가 작성된 줄에서 실행은 ctrl+enter
num1 = 1

In [63]:
num1

1

In [ ]:
# 공통 단축키
# ctrl+enter : 현재 셀 실행
# shift+enter : 현재 셀 실행 후 아래셀로 이동

In [ ]:
# 만들어 볼까요

### 01변수

In [ ]:
num=3
print(num)

In [ ]:
num=3
num

In [ ]:
num1=13
print(num1)

In [ ]:
num2=25
print(num2)

In [ ]:
num2=77
print(num2)

In [ ]:
num3=3.1424
num3

In [ ]:
num4=1.25
num4

In [ ]:
num4=3.12
num4

In [ ]:
num4

In [ ]:
str1="fnnny"
str1

In [ ]:
str2='easy'
str2

In [ ]:
import keyword
keyword.kwlist

In [ ]:
a=10
b=15
print(a)
print(b)

In [64]:
a,b=10,15
print(a)
print(b)

10
15

In [65]:
str1='pyt'
str2='pyt'
print(str1)
print(str2)

pyt
pyt

In [66]:
str1=str2='pyt'
print(str1)
print(str2)

pyt
pyt

In [67]:
x=100
y=200
sum1=x+y
print(sum1)

300

In [44]:
sum([1,2,3,4])

10

In [2]:
sum([5,2,3,4])

14

In [3]:
s= ' she\'s gone '
s

" she's gone "

In [6]:
s= " she's gone "
s

" she's gone "

In [7]:
# 여러줄로 구성된 문자열을 변수에 대입하고 싶을 때
# 여러줄로 구성된
# 문장열을 변수애
# 대입하고 싶을 때
# \n(개행문자)

s= "여러줄로 구성된 \n문자열을 하나로"
print(s)

여러줄로 구성된
문자열을 하나로

In [8]:
s= """여러줄로 
구성된 
문자열을 
하나로"""
print(s)

여러줄로
구성된
문자열을
하나로

In [12]:
# 문자열 포맷팅
# 문자내부에서 자주 바뀌는 부분을 변수 처리해서 원하는 결과를 출력하는 방법

am = 'html/css'
pm = '파이썬라이브'
s= f"""
1교시 : {am}
2교시 : {am}
3교시 : {am}
4교시 : {am}
5교시 : {pm}
6교시 : {pm}
7교시 : {pm}"""
print(s)

1교시 : html/css
2교시 : html/css
3교시 : html/css
4교시 : html/css
5교시 : 파이썬라이브
6교시 : 파이썬라이브
7교시 : 파이썬라이브

### 인덱싱/슬라이싱(1회차)
- 인덱싱 :무엇인가를 '가리킨다' 라는 의미
- 슬라이싱 : 무엇인가를 '잘라낸다' 라는 의미

In [13]:
s= "my name is kn"

s[8]

'i'

In [14]:
s[12]

'n'

In [15]:
s[-2]

'k'

In [ ]:
# 문자열 인덱싱 실습
# 나의 이름 이니셜에 해당하는 글자를 가져와라

In [18]:
s= "my name is dj"
print (s[-2], s[-1])

d j

In [77]:
# 인덱싱으로 글자 하나하나 가져오눈거 불편
# 범위를 정해서 단어를 가져오자
# 데이터 슬라이싱 --> 끝번호는 미포함
# s[ 인덱스시작번호 : 인덱스 끝번호+1 ]
s= "my name is dj"
print(s[3:7])

name

In [ ]:
# 인덱스의 시작번호는 항상 0부터 시작한다.
# 슬라이싱에서 인덱스의 끝번호는 항상 +1을 해준다.

In [11]:
print('Hello World')
print("Hello World")

Hello World
Hello World

In [4]:
print("Mary's cosmetics")

Mary's cosmetics

In [6]:
print('"도둑이야"')

"도둑이야"

In [9]:
print("C:\Windows")

C:\Windows

In [13]:
print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

In [31]:
print ("오늘은""일요일")
print ("오늘은","일요일")
print ("오늘은"," ""일요일")
print ("오늘은","\t일요일")

오늘은일요일
오늘은 일요일
오늘은  일요일
오늘은 	일요일

In [25]:
print('naver;kakao;sk;samsung')
print("naver", "kakao", "samsung", sep=";")

naver;kakao;sk;samsung
naver;kakao;samsung

In [29]:
print('naver/kakao/sk/samsung')
print("naver", "kakao", "samsung", sep="/")
print("naver", "kakao", "samsung", sep="+")

naver/kakao/sk/samsung
naver/kakao/samsung
naver+kakao+samsung

In [39]:
print("first");print("second");print("a");print("b")
print("first", end="  "); print("second")
print("first", end=""); print("second")

first
second
a
b
first  second
firstsecond

In [36]:
print("first")
print("second")

first
second

In [40]:
print(5/3)

1.6666666666666667

In [45]:
s=50000
a=10
print(s*a)
b=s*10
print(b)

500000
500000

In [42]:
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

In [60]:
print("항목", end="    "); print("값")
print('항목 \t\t값')
현재가 = 50000
시가총액 = 298
PER = 15.79
 
print('시가총액', end="\t");print(시가총액, end=""); print("조")
print('현재가', end="\t\t");print(현재가, end=""); print("원")
print('PER ', end="\t\t");print(PER, end=""); print("%")

항목    값
항목 		값
시가총액	298조
현재가		50000원
PER 		15.79%

In [61]:
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [80]:
q="my name is kn"
q

'my name is kn'

In [82]:
#my 슬라이싱
q[0:2]

'my'

In [83]:
#is 슬라이싱
q[8:10]

'is'

In [88]:
#kn 슬라이싱
q[-2:]

'kn'

In [90]:
# 슬라이싱에서 값을 생략하는 것에 대한 의미
# 변수[ 시작값인덱스: 끝값인덱스+1]
# 시작값이 생략되는 경우 -> 데이터의 처음부터(0번부터)
print(q[0:7])
print(q[:7])

my name
my name

In [92]:
# 끝값이 생략되는 경우 -> 데이터의 끝부분까지(인덱스번호 마지막까지)
print(q[11:13])
print(q[11:])

kn
kn

In [94]:
# 문자열의 처음부터 끝까지 모든 문자를  가져오고 싶으면?
print(q)
print(q[:])

my name is kn
my name is kn

In [98]:
# 다음과 같은 문자열에서 날짜와 날씨를 따로 뽑아서 출력해보자
# 문자열 더하기  + 기호사용

s= '2024년 1월 30일의 날씨는 맑음입니다.'
print('날짜 : ' + s[:12])
print('날씨 : ' + s[18:20] )

날짜 : 2024년 1월 30일
날씨 : 맑음

In [100]:
# 문자열 포멧팅 실습
# 문자열 포멧팅 : 문자 내부의 특정한 값을 바꿔야 할 경우 사용
# %d 변수명 사용한 포매팅

day =7
s= '오늘은 1월 %d일 입니다.'%day
s

'오늘은 1월 7일 입니다.'

In [102]:
# 2개 변수 사용
month =2
day =11
s= '오늘은 %d월 %d일 입니다.'%(month,day)
s

'오늘은 2월 11일 입니다.'

In [103]:
# 포멧함수를 이용한 포매팅
month =3
day =15
s= '오늘은 {}월 {}일 입니다.'.format(month,day)
s

'오늘은 3월 15일 입니다.'

In [109]:
# f 이용한 포매팅
month =4
day =18
s= f'오늘은 {month}월 {day}일 입니다.'
print(f'오늘은 {month}월 {day}일 입니다.')

오늘은 4월 18일 입니다.

In [116]:
x=400
y=200
sum2 =x+y
print(f'{x}와 {y}의 합은 {sum2}입니다.')

400와 200의 합은 600입니다.

In [115]:
s = "hello"
t = "python"
print(s+"! "+t)
print(s+"!", t)
print(s,t)

hello! python
hello! python
hello python

In [ ]:
a=2;b=2;c=3

In [171]:
# strip(): 문자의 양쪽 공백을 없애주는 함수
s='                    안녕하세요                            '
s.strip()

'안녕하세요'

In [145]:
# replace() : 기존의 문자,바꿀문자
s= '안녕               하세요'
s.replace("  ","")

'안녕 하세요'

In [122]:
s= '안냥하세요. 상원씨, 상원아~~'
s.replace("상원","연재")

'안냥하세요. 연재씨, 연재아~~'

In [142]:
# split() 나누어준다 문자열을~
s= '우석,우건,준범'

s.split(",")[1]

'우건'

In [168]:
s = '우석,우건,준범'

s.split("우석")

['', ',우건,준범']

In [169]:
# : 기호를 기준으로 분열
s= '우석:우건:준범'
s.split(":")

['우석', '우건', '준범']

In [172]:
# 문자의 양쪽 공백을 없애주는 함수
s = '우석,우건,준범'
s.strip("우석")

',우건,준범'

In [1]:
# : 기호를 기준으로 분열
s= '우석,우건,준범'
s.split(",")

['우석', '우건', '준범']

In [2]:
# : 기호를 기준으로 분열
s= '우석:우건:준범'
s.split(":")[2]

'준범'

In [17]:
# : 기호를 기준으로 분열
s= '우석우건준범'
s.split(",")[0]

'우석우건준범'

In [117]:
s= '5000원'
s.split(",")[0]    # 0번 인덱스가 5000원  1번은 에러

'5000원'

In [124]:
s= '원일5000'
s.split("원")[0]     # 0번 인덱스가 ""    1번이 일5000

''

In [126]:
s= '일원5000'
s.split("원")[1]     # 0번 인덱스가 일   1번이 5000

'5000'

In [120]:
s= '원5000'
s.split(",")[0]  # 0번 인덱스가 원5000 1번은 에러

'원5000'

In [121]:
s= '원5000'
s.split("원")[0]     # 0번 인덱스가 ""    1번이 5000

''

In [92]:
s= '5000원일'
s.split("원")[1]    # 0번 인덱스가 5000   # 1번은 원이 빠지므로 '일'

'일'

In [115]:
a = ''
a

''

In [123]:
s= '5000원'
s.split("원")[1]    # 0번 인덱스가 5000   1번 ""

''

In [114]:
s= '원,5000'
s.split('원')[1]  # 0번 인덱스가 원5000

',5000'

In [38]:
s= '원,5000'
s.split(',')  # 0번 인덱스가 원5000

['원', '5000']

In [39]:
s= '5000원'
s.split(",")    # 0번 인덱스가 5000원   # 원을 빼면 5000

['5000원']

In [40]:
s= '원5000'
s.split(",")    # 0번 인덱스가 5000원   # 원을 빼면 5000

['원5000']

In [112]:
s= '원5000'
s.split(",")[0]    # 0번 인덱스가 5000원   # 원을 빼면 5000

'원5000'

In [42]:
s= '원5000'
s.split(",")[1]    # 0번 인덱스가 5000원   # 원을 빼면 5000

IndexError: list index out of range