In [9]:
a=[]
print (a)
b=[1,2,3]
print (b)
c=['라','마','바']
print (c)
d=[1,2,'가','사']
print (d)
e=[1,2,['나','다']]
print (e)

[]
[1, 2, 3]
['라', '마', '바']
[1, 2, '가', '사']
[1, 2, ['나', '다']]

In [10]:
s= '우석:우건:준범'
print (s)

우석:우건:준범

In [55]:
s= ('우석,우건,준범')
s

'우석,우건,준범'

In [23]:
# 인데싱 /슬라이싱 실습         # 스플릿 안된다
list1=[0,1,2,3,4,5,6,7,8,9]
print(list1)
# 인덱싱 문제 
# 숫자4
# 숫자 4,9,7
# print(list1[4])
# print(list1[4],list1[9],list1[7])
list1[4],list1[9],list1[7]
# print(list1[4]);print(list1[7]);print(list1[9])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

(4, 9, 7)

In [31]:
# 2. 숫자 1,2,3과 ['a','b','c'] 를 이용해서 2차원 리스트를 만들자
# list1 = [1,2,3,['a','b','c',['수박','복숭아']]]  # 3차원
list1 = [1,2,3,['a','b','c']]  # 3차원
print(list1)

[1, 2, 3, ['a', 'b', 'c']]

In [32]:
# temp 변수 지정 ['a','b','c']가 들어있는 리스트를 인덱싱
temp = list1[3]
print(temp)
# temp에 저징된 리스트에서 b라는 문자만 인덱싱
print(temp[1])

['a', 'b', 'c']
b

In [33]:
# 다른 형태로 b를 출력
list1[3][1]

'b'

In [34]:
# 우석 출장 
list3=[[0,1,2,3],
       [4,5,6,7],
       [8,9,10,11],
       [12,13,14,15]]
list3

[[0, 1, 2, 3], [4, 5, 6, 7], [8, 9, 10, 11], [12, 13, 14, 15]]

In [37]:
list3[1][1]

5

In [52]:
# 리스트 슬라이싱
# 슬라이싱 규칙 인덱스는 0부터 시작
# 슬라이싱 끝 값은 항상+1을 해준다
list1=[0,1,2,3,4,5,6,7,8,9]
# 3부터7까지 슬라이싱
print (list1 [3:8])
# 0부터 4까지
print (list1 [:5])
# 6부터 9까지
print (list1 [6:])
# 전체숫자
print (list1 [:])

[3, 4, 5, 6, 7]
[0, 1, 2, 3, 4]
[6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [56]:
list1+list1     # 앞뒤로 붙는다

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [57]:
# 리스트 맨 뒤에 값을 추가 해보자
# append(추가값)
list4=[1,2,3,4,5]
list4

[1, 2, 3, 4, 5]

In [59]:
# append(추가값) --> 리스트 맨뒤에 값을 추가해주는 함수
list4.append(6)
list4                    # 재실행하면 계속 추가됨

[1, 2, 3, 4, 5, 6, 6]

In [94]:
# 인덱싱+ append 실습  다시 해보자!!

list =['사과','포도',['수박','멜론'],'복숭아','딸기','오렌지']
# 뽑아온 과일을 저장할 리스트
cho_=[]
a=list_[0]
b=list_[2][0]
c=list_[-1]
# a.append(b)
# b.append(c)

# choice_list =[b]
# choice_list =[ list_[0]+ list_[2][0] +list_[5]]
# print (choice_list)


# choice_list 에 담아줄 과일 인덱싱
# choice_list 쌓아주기
cho_.append(a)
cho_.append(b)
cho_.append(c)
cho_

['사과', '수박', '오렌지']

In [66]:
list10 = [0,1,2,3,4]
list10

[0, 1, 2, 3, 4]

In [67]:
# insert함수 사용법
# insert(인덱스번호,넣어줄 값)
list10.insert(1,5)
list10

[0, 5, 1, 2, 3, 4]

In [77]:
# insert 실습
music_list = [['디셈버','심'],
             ['bmk','물들어'],
             ['sg워너비','해바라기']]
music_list
# music_list 인덱스 1인곳에 ['창모','메테오']
# music_list 인덱스 3인곳에 ['창모','메테오']
# music_list 마지막에 ['창모','메테오']

[['디셈버', '심'], ['bmk', '물들어'], ['sg워너비', '해바라기']]

In [87]:
music_list.insert(1,['창모','메테오'])
music_list.insert(3,['eh','cv'])
# music_list.insert(5,['rt','opp'])
music_list.append(['rt','opp'])
music_list

[['가', '나'],
 ['창모', '메테오'],
 ['정대주', '정재은'],
 ['eh', 'cv'],
 ['정대주', '정재은'],
 ['rt', 'opp']]

In [89]:
# 실습다시해보자
# 1. 인덱스 번호 /가수명/노래제목 입력받는 입력문 --> 변수에 저장
#  insert문을 이용해서 music_list에 새로운 값을 추가해주세요
a =int(input("인덱스>> " ))
si = input("가수명>> " )
ti = input("제목>> " )

music_list.insert(a,[si,ti])
music_list

인덱스>> 10
가수명>> 스마트
제목>> 인벤터

[['가', '나'],
 ['창모', '메테오'],
 ['정대주', '정재은'],
 ['eh', 'cv'],
 ['정대주', '정재은'],
 ['도도', '고고'],
 ['rt', 'opp'],
 ['스마트', '인벤터']]

In [96]:
# 리스트 수정
print(f'수정전 : {list1[5]}')
list1[5]= 10
print(f'수정후 : {list1[5]}')

수정전 : 5
수정후 : 10

In [97]:
list1

[0, 1, 2, 3, 4, 10, 6, 7, 8, 9]

In [98]:
# 여러개의 값을 변경 - 슬라이싱 이용

list20 = [0, 1, 2, 3, 4, 10, 6, 7, 8, 9]

list20[3:7]=[10]
list20

[0, 1, 2, 10, 7, 8, 9]

In [146]:
array = [1,2,3,4,5]
array[4]=7
array

[1, 2, 3, 4, 7]

In [147]:
array[1]=['a','b','c']
array

[1, ['a', 'b', 'c'], 3, 4, 7]

In [148]:
array[3:5]='d','e','f','g'
array

[1, ['a', 'b', 'c'], 3, 'd', 'e', 'f', 'g']

In [149]:
array[0:1]  # 슬라이싱은 범위 즉 리스트로 잘라온다 []안에 값이 들어온다

[1]

In [150]:
array[0]    # 인덱싱은 []범위 없이 값만 가져온다

1

In [151]:
array[0:1]='h','i','j'
array

['h', 'i', 'j', ['a', 'b', 'c'], 3, 'd', 'e', 'f', 'g']

In [135]:
# 리스트 값 삭제
a= [0,1,2,3,4,5]
del a[5]   # 인덱스번호 넣기
a

[0, 1, 2, 3, 4]

In [130]:
# 여러개 값 삭제
ab= [0,1,2,3,4,5]
del ab[1:5]
ab

[0, 5]

In [133]:
# 다른 삭제법 
abc= ['a','b','c','d','e']
abc.remove('c')
abc

['a', 'b', 'd', 'e']

In [136]:
abcd= ['a','b','c','d','e','c']
abcd.remove('c')    # 처음 만나는 해당값을 지우고 되돌려준다
abcd

['a', 'b', 'd', 'e', 'c']

In [137]:
abcd.remove('c')   # 다시 한 번 실행하면 또 c가 지워진다 
abcd

['a', 'b', 'd', 'e']

In [139]:
# 정렬 --> sort --> 오름차순 정렬
abcde= [13,27,1,32,45,7]
abcde.sort()
abcde

[1, 7, 13, 27, 32, 45]

In [152]:
# 리스트를 반대로 뒤집는 함수 --> reverse()
abcdef= [13,27,1,32,45,7]
abcdef.reverse()
abcdef

[7, 45, 32, 1, 27, 13]

In [154]:
# 내림 차순 정렬
abcdefg= [13,27,1,32,45,7]
abcdefg.sort(reverse=True)  # sort내에 reverse 기본값이 존재하는데 false이다
abcdefg

[45, 32, 27, 13, 7, 1]

In [161]:
# 리스트 값 위치 출력 / 제거
# 리스트 내부에 위치한 자료의 인덱스를 확인한 방법
list15 = ['a', 'b', 'c','d', 'e']
list15.index('c')
list15

['a', 'b', 'c', 'd', 'e']

In [162]:
# pop  --> 마지막 값을 출력 후 리스트에서 제거
list15.pop()

'e'

In [163]:
list15

['a', 'b', 'c', 'd']

In [164]:
# len(리스트) --> 리스트 내부의 값 갯수를 출력
# 반복문 범위를 정하거니 리스트 내부의 데이터 갯수를 체크할때 사용 
len(list15)

4

In [165]:
for i in range (len(list15)) :
    print(list15[i])

a
b
c
d

In [ ]:
# 튜플 tuple -->()로 작성 # 상수와 같은 개념 변경 안되는 값을 저장한다 예)주민번호
# 추가 수정 삭제 모두 안됨
# 리스트는 자바의 arraylist 튜플은 자바의 array

In [167]:
a_= () 
b_=(1,2,3)
c_=('가','나','다')
d_= (1,2,'라','마')
e_= (1,2,('바','사'))
print(f'{a_},{b_},{c_},{d_},{e_}')

(),(1, 2, 3),('가', '나', '다'),(1, 2, '라', '마'),(1, 2, ('바', '사'))

In [170]:
c_=('가','나','다')   # 수정안됨
c_[4] = "asd"
c_

TypeError: 'tuple' object does not support item assignment

In [171]:
b_=(1,2,3)
b_[1]

2

In [172]:
b_[1:]

(2, 3)

In [173]:
len(b_)  # 내부의 값 세어준다

3

In [ ]:
# in()--> 찾고자 하는 값(x)가 포함되면 참      # 찾고자 하는 문자열이나 숫자 있는지 여부파악
# 아니면 거짓
# not in() --> 찾고자 하는 값(x)가 포함되면 거짓
# 아니면 참

In [176]:
str1 = '마지막 시간입니다'

In [177]:
'마지막' in str1

True

In [179]:
azz= [13,27,1,32,45,7]
37 not in azz

True

In [2]:
# 문자열 사용자가 입력한 글자가 몇개 포함되었는지 출력
text ='와~ 드디어 드디어 드디어 끝!'
input1= input("문자입력>> " )
pp=text.count(input1)
if (input1 in text) :
    print (f'{input1}는 {pp}번 들어 있네요!')
else :
    print (f'{input1}는 없어요!')

문자입력>>
는 18번 들어 있네요!

In [3]:
# count함수
text1 ='와~ 드디어 드디어 끝!'
text1.count('드')

2