In [2]:
# 예제1
for i in range (1,6) :
    
     for j in range (i,i-1,-1) :
         
        print('*'*j)   # print('*'*i) 같음

*
**
***
****
*****

In [3]:
for i in range (5,0,-1) :
    
     for j in range (i,i-1,-1) : # (i,i+1,1) 같음
         
        print('*'*j)   # print('*'*i) 같음

*****
****
***
**
*

In [4]:
for j in range (1,2) :
        print('*')

*

In [5]:
# 예제1 별짓기
#a = 5
for i in range(0,5):   # (a) 해도 가능
    print('*' * (i+1))

*
**
***
****
*****

In [6]:
a = 5
for i in range(a,0,-1): 
    print('*' * (i))

*****
****
***
**
*

In [7]:
a = 5
for i in range(a):
    print(" " * (a - (i+1)), end="");print('*' * (i+1))
    #print('*' * (i+1))

    *
   **
  ***
 ****
*****

In [8]:
a=int(input ("줄수입력>>"))
for i in range(1,a+1):
    print('*' * (i))

줄수입력>>5
*
**
***
****
*****

In [9]:
# 예제2 별짓기
b=int(input ("줄수입력>>"))
for i in range(1,b+1):
    print('*' * (i))
for j in range(b-1,0,-1):    
    print('*'*(j))

줄수입력>>5
*
**
***
****
*****
****
***
**
*

In [30]:
# 예제3
# 첫 번째 정수부터 두 번째 정수까지 출력
while True :
    c=int(input ("첫정수입력>>"))
    d=int(input ("둘정수입력>>"))
    if (c==d) & (d==c) :
        print('종료')
        break
    elif(c<d) :
        for i in range(c,d+1) :
            print(i,end=' ')
        print()
    else :
        for j in range(c,d-1,-1) :
            print(j,end=' ')
        print()

첫정수입력>>10
둘정수입력>>30
10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30
첫정수입력>>30
둘정수입력>>10
30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10
첫정수입력>>0
둘정수입력>>0
종료

In [28]:
# 예제4
# 첫 번째 정수부터 두 번째 정수까지 범위에서 입력된 배수의 합을 출력
e=int(input ("첫정수입력>>"))
f=int(input ("둘정수입력>>"))
g=int(input ("배수입력>>"))
h=0
if (e>f) :
    print('첫정수를 큰수로하세요')
elif g==0 :
    print('베수를 1이상으로 하시요')
else :
    for i in range(e,f+1) :        
        if i%g==0 :
            h += i
print(f'{g}의 배수의 합 : {h}')

첫정수입력>>1
둘정수입력>>5
배수입력>>1
1의 배수의 합 : 15

In [31]:
# 예제5
# 다음 암호문을 올바르게 해석하려면 거꾸로 읽어야 합니다.
# 암호문을 해석하기위한 반복문을 작성하시오.(len함수 이용)
# Life is too short, You need python.

list1= ".nohtyp deen uoY ,trohs oot si efiL"
print(list1[0],list1[1],list1[34])
#print(list1[1])
#print(list1[34])
for i in range (len(list1),0,-1) :
    print(list1[i-1],end='')
len(list1)

. n L
Life is too short, You need python.

35

In [ ]:
ab= "정,대,주"
for i in range (len(ab)) :
    print(ab[i],end='')
len(ab)

In [32]:
# 예제6
a=2
for i in range (1,9) :
    for j in range (1,10) :
        print(f'{a}*{j}={a*j}',end='\t')   
    a+=1
    print()

2*1=2	2*2=4	2*3=6	2*4=8	2*5=10	2*6=12	2*7=14	2*8=16	2*9=18
3*1=3	3*2=6	3*3=9	3*4=12	3*5=15	3*6=18	3*7=21	3*8=24	3*9=27
4*1=4	4*2=8	4*3=12	4*4=16	4*5=20	4*6=24	4*7=28	4*8=32	4*9=36
5*1=5	5*2=10	5*3=15	5*4=20	5*5=25	5*6=30	5*7=35	5*8=40	5*9=45
6*1=6	6*2=12	6*3=18	6*4=24	6*5=30	6*6=36	6*7=42	6*8=48	6*9=54
7*1=7	7*2=14	7*3=21	7*4=28	7*5=35	7*6=42	7*7=49	7*8=56	7*9=63
8*1=8	8*2=16	8*3=24	8*4=32	8*5=40	8*6=48	8*7=56	8*8=64	8*9=72
9*1=9	9*2=18	9*3=27	9*4=36	9*5=45	9*6=54	9*7=63	9*8=72	9*9=81

In [33]:
# 예제7
a=1
for i in range (1,10) :
    for j in range (2,10) :
        print(f'{j}*{a}={j*a}',end='\t')   
    a+=1
    print()

2*1=2	3*1=3	4*1=4	5*1=5	6*1=6	7*1=7	8*1=8	9*1=9
2*2=4	3*2=6	4*2=8	5*2=10	6*2=12	7*2=14	8*2=16	9*2=18
2*3=6	3*3=9	4*3=12	5*3=15	6*3=18	7*3=21	8*3=24	9*3=27
2*4=8	3*4=12	4*4=16	5*4=20	6*4=24	7*4=28	8*4=32	9*4=36
2*5=10	3*5=15	4*5=20	5*5=25	6*5=30	7*5=35	8*5=40	9*5=45
2*6=12	3*6=18	4*6=24	5*6=30	6*6=36	7*6=42	8*6=48	9*6=54
2*7=14	3*7=21	4*7=28	5*7=35	6*7=42	7*7=49	8*7=56	9*7=63
2*8=16	3*8=24	4*8=32	5*8=40	6*8=48	7*8=56	8*8=64	9*8=72
2*9=18	3*9=27	4*9=36	5*9=45	6*9=54	7*9=63	8*9=72	9*9=81

In [36]:
# 예제8
# list1에서 짝수와, 홀수의 개수를 출력하시오.
# 단 list1의 값이 추가 되어도 출력되게끔 코드를 작성하시오.
list11= [1,30,7,9,17,3,5,23,44,32,35]
w=0
x=0
for i in list11 :
    if i%2==0 :
        w+=1
    else :
        x+=1
print(f'짝수 {w}개, 홀수 {x}개')

짝수 3개, 홀수 8개

In [49]:
# 예제9
#list22=[['정대주',89,78,99],
#       ['재은',67,88,77],
#       ['기순',100,55,96]
#       ]

print("=============================================")
print("이름\t파이썬\t자바\t데이터\t평균\t학점")
print("=============================================")
for i in range(len(list22)) :
    for j in range(i+1) :
        print(f'{i[j]}\t{i[j+1]}\t{i[j+2]}\t{i[j+3]}')

=============================================
이름	파이썬	자바	데이터	평균	학점
=============================================

TypeError: 'int' object is not subscriptable

In [48]:
list25=[['정대주',89,78,99],
       ['재은',67,88,77],
       ['기순',100,55,96]
       ]
print("이름\t파이썬\t자바\t데이터\t평균\t학점")
print(f'{list25[0][1]}는')
print(list25[0])
for a,b,c,d in list25 :  
     print(f'{a}\t{b}\t{c}\t{d}')
    
    
    #for j,d,f,g in i :
     #   print(j,d,f,g)
        #print(j,end=' ')
        #print(i[0],i[1],i[2],i[3])

이름	파이썬	자바	데이터	평균	학점
89는
['정대주', 89, 78, 99]
정대주	89	78	99
재은	67	88	77
기순	100	55	96

In [116]:
# 예제9
list30=[['정대주',89,78,99],
       ['재은',67,88,77],
       ['기순',100,55,96],
       ['우성',99,99,99],
       ]

print("=============================================")
print("이름\t파이썬\t자바\t데이터\t평균\t학점")
print("=============================================")
av=0
gr=''
for a,b,c,d in list30 : 
    av = int((b+c+d)/(len(list30[0])-1))
    if av >=90 :
        gr='A'
    elif av >=80 :
        gr='B'
    elif av >=70 :
        gr='C'
    elif av >=60 :
        gr='D'
    else  :
        gr='F'
    
    print(f'{a}\t{b}\t{c}\t{d}\t{av}\t{gr}')
print("=============================================")
bb=0
cc=0
dd=0
for a,b,c,d in list30 : 
    bb += b
    cc += c
    dd += d
    av2 =int(bb/len(list30))
    av3 =int(cc/len(list30))
    av4 =int(dd/len(list30))
print(f'평균\t{av2}\t{av3}\t{av4}')

=============================================
이름	파이썬	자바	데이터	평균	학점
=============================================
정대주	89	78	99	88	B
재은	67	88	77	77	C
기순	100	55	96	83	B
우성	99	99	99	99	A
=============================================
평균	88	80	92

In [55]:
print("================"
      "================")

================================

In [58]:
zzc='정대주',89,78,99
print(zzc[1])

89

In [69]:
list50=[['정대주',89,78,99],
       ['재은',67,88,77],
       ['기순',100,55,96]
       ]

for i in range(len(list50)) :
     print(list50[i][i+1])

89
88
96

In [69]:
list500=[['정대주',89,78,99],
       ['재은',67,88,77],
       ['기순',100,55,96]
       ]
print(list500[0][0])
print(list500[0][1])
#len(list500)
#len(list500[0])
#len(list500[0][0])

for i in list500 :
    for j in i :
        #print(f'{i[j]}\t{i[j+1]}\t{i[j+2]}\t{i[j+3]}')
        #print(i[0])
        print(j)

정대주
89
정대주
89
78
99
재은
67
88
77
기순
100
55
96

In [16]:
zzcc='qwertqqqyui'
zzcc.count('q')

4

In [21]:
zzc=[1,2,2,2,2,2,3,4,5,6]
zzc.count(2)

5