In [1]:
# 함수=로직을 구현
def hello(name):
    return f'{name}씨 안녕'

In [2]:
hello('재은')

'재은씨 안녕'

In [3]:
hello('우성')

'우성씨 안녕'

In [4]:
def sum1(num1,num2):
    re=num1+num2
    return re

In [5]:
sum1(3,10)

13

In [2]:
# 엔터를 쳐서 정의해줘야 함
def minus(num1,num2) :
    re=num1-num2
    return re

In [3]:
num1=int(input ("첫정수입력>>"))
num2=int(input ("둘정수입력>>"))
#minus(num1,num2)
rs = minus(num1,num2)
rs

첫정수입력>>7
둘정수입력>>3

4

In [13]:
# 내가 만든 함수 메모작성-->독스트링
def cal(num3,num4,op) :
    """덧셈과 뺄셈을 해주는 함수"""
    if op == '+':
        
        re = num3+num4
    elif op == '-':
        
        re = num3-num4
    else :
        re ='꽝'
    return re

In [11]:
num3=int(input ("첫정수입력>>"))
num4=int(input ("둘정수입력>>"))
op=input ("연산자입력(+,-)>>")
rs=cal(num3,num4,op)
#print(f'결과 : {rs}')
print('결과 : {}'.format(rs))

첫정수입력>>5
둘정수입력>>3
연산자입력(+,-)>>*
결과 : 꽝

In [14]:
# 가변 매개변수
# 여러개의 숫자를 받아서 모두 더해주는 함수
def add(*args):
    return sum(args)

In [16]:
add(1,2,3,4,5)

15

In [17]:
# 리턴값은 무조건 하나
def add_sub(num1,num2):
    return num1+num2,num1-num2

In [18]:
num1=int(input ("첫정수입력>>"))
num2=int(input ("둘정수입력>>"))
rs=add_sub(num1,num2)
print('결과 : {}'.format(rs))

첫정수입력>>5
둘정수입력>>3
결과 : (8, 2)

In [19]:
# 값을 하나씩 가져오는 방법: 인덱싱
rs[0]

8

In [21]:
# 다중 변수 입력
rs_add,rs_minus = add_sub(5,3)
print(rs_add)
print(rs_minus)

8
2

In [25]:
# 함수 기본값 설정하기  power=2
def power_of_n(num,power=2):
    return num**power   # **지수연산

In [28]:
power_of_n(4,3) # 기본값power=2은 매개변수'3'로 인해 변경가능

64

In [30]:
import numpy as np
a=np.array([1,2,3])
b=np.array([4,5,6])
c=a*b
c

array([ 4, 10, 18])

In [16]:
a=(1,2,3)
a+a

(1, 2, 3, 1, 2, 3)

In [31]:
import numpy as np
a=np.array([1,2,3])
a*a

array([1, 4, 9])

In [28]:
a=(1,2,3)
b=(4,5,6)
a+b

(1, 2, 3, 4, 5, 6)