In [1]:
# 라이브러리 = 모듈 
# 파이썬파일 확장자 =.py ==> 모듈
# calcal.ipynb --> 파일 --> 다운로드as --> python.py  ==> .py확장자를 가진 파이썬 파일이 됨
# 자바는 2차원 배열까지만 가능
# numpy배열 다차원가능

In [2]:
# 리스트와 다차원 배열의 차이점
# 리스트는 자료형 구분없이 삽입가능 하지만 numpy배열은 타입이 같아야함
# 왜 numpy를 쓴느가?
list_ = [1,2,3,4,5]
list_+list_

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [2]:
# numpy을 불러오고 np라고 부르겠다
import numpy as np         # 이미지(숫자)구현 가능

In [3]:
# np.array() : numpy의 다차원 배열을 만드는 기능
# 1. 리스트를 직접 넣는 법
arr_= np.array([1,2,3,4,5])
arr_

array([1, 2, 3, 4, 5])

In [4]:
arr_+arr_

array([ 2,  4,  6,  8, 10])

In [5]:
# 2.리스트가 담긴 변수를 넣는 법
arr_ = np.array(list_)
arr_                        # ([]) --> numpy의 다차원 배열
#print(arr_)

array([1, 2, 3, 4, 5])

In [6]:
# 배열의 크기 확인 : shape
arr_.shape   # (5,) 5행 1열 1이 생략됨 #실은 세로로 출력된 것임

(5,)

In [59]:
# shape (행,열)
list10 = [[1,2,3],
          [4,5,6]]
#arr2 = np.array([[1,2,3],
#                [4,5,6]])
arr2 = np.array(list10)

print(len(list10))
print(list10[0])
print(list10[1])
print(len(list10[0]))
print(len(list10[1]))
for i in range (len(list10[0])-1):
    for j in range (len(list10[1])):
        print(arr2[i][j])

arr2.shape[0]
arr2.shape[1]
arr2.shape  # 2행3열

2
[1, 2, 3]
[4, 5, 6]
3
3
1
2
3
4
5
6

(2, 3)

In [31]:
for i in range (arr2.shape[0]):      #(0,2) --> (0,1)
    for j in range (arr2.shape[1]):  #(0,3) --> (0,2)
        print(arr2[i][j])

1
2
3
4
5
6

In [54]:
list200=[[],[]]
for i in range (0,2):      
    for j in range (0,3):  
        list200[0].append(i)
        list200[1].append(j)
print(list200)

[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]]

In [58]:
list300=[[],[]]
for i in range (1,4):
    list300[0].append(i)
for j in range (4,7):
    list300[1].append(j)
list300

[[1, 2, 3], [4, 5, 6]]

In [60]:
# 배열의 전체 요소 갯수 확인하기 : size
arr2.size
# shape에서 나온 모든값을 곱해주면 size와 같다 #2*3=6

6

In [61]:
# 배열의 타입 확인하기 :dtype
arr2.dtype # dtype('int32') -->  32숫자??

dtype('int32')

In [10]:
# 배열의 차원확인하기--> ndim
arr2.ndim

2

In [73]:
arr3=[[[1,2],
        [3,4]],
       [[5,6],
        [7,8]]]
arr4 = np.array(arr3)
arr4

array([[[1, 2],
        [3, 4]],

       [[5, 6],
        [7, 8]]])

In [70]:
print('크기',arr4.shape)  # 2행 2열 2깊이 (육면체로 가정하면~)
print('차원',arr4.ndim)
print('개수',arr4.size)
print(arr4[0])
print(arr4[1])
print(arr4[0][0])
print(arr4[0][1])
print(arr4[1][0])
print(arr4[1][1])
print(arr4[0][0][0])
print(arr4[0][0][1])
print(arr4[1][1][1])      # for문 3번 돌려야 볼수있음

크기 (2, 2, 2)
차원 3
개수 8
[[1 2]
 [3 4]]
[[5 6]
 [7 8]]
[1 2]
[3 4]
[5 6]
[7 8]
1
2
8

In [77]:
arr_11 = np.array((2,3))
arr_11
#print(arr_11)

array([2, 3])

In [80]:
arr_13 = np.array([2,3])
arr_13

array([2, 3])

In [82]:
arr_14 = np.array(2,3)  #에러
arr_14

TypeError: Cannot interpret '3' as a data type

In [79]:
arr_12 = np.full((2,3),15)
arr_12

array([[15, 15, 15],
       [15, 15, 15]])

In [13]:
# 특정한 값으로 배열을 생성해보자
#1.모든 값을 0으로 초기화 -np.zeros() --> ((행 갯수 ,열 갯수))
arr_zeros = np.zeros((3,4))
arr_zeros

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [83]:
#2. 모든 값을 1으로 초기화  -np.ones() --> ((행 갯수 ,열 갯수))
arr_ones = np.ones((3,4))
arr_ones

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [86]:
#3. 우리가 설정한 값으로
# np.fuii ((행갯수,열개수)).넣어주고 싶은 값)
arr_full = np.full((5,5),'피자')
arr_full

array([['피자', '피자', '피자', '피자', '피자'],
       ['피자', '피자', '피자', '피자', '피자'],
       ['피자', '피자', '피자', '피자', '피자'],
       ['피자', '피자', '피자', '피자', '피자'],
       ['피자', '피자', '피자', '피자', '피자']], dtype='<U2')

In [87]:
# 1부터 50까지 담긴 리스트를 만들어서 numpy 배열로 만들어 주세요
# 반복문 사용가능 / range / append 사용가능
list11= []
for i in range(1,51) :
    list11.append(i)
print(list11)
#list11
arr123 = np.array(list11)
arr123

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50])

In [6]:
# 위의 로직을 하나의 함수로 하자(반복문 없이 만들어보자)
# 1~50 까지 숫자가 담긴 배열을 만들자  --> arange() 함수
arr551 = np.arange(1,51)  # range()와 같음
arr551

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50])

In [7]:
# 배열의 형태 바꾸기 --> reshape(행의갯수,열의갯수)
# 형태를 변경시 전체 요소 갯수의 약수로 만들어 줄 것
arr551.reshape(5,10)  # -->(4.12)로 하면 에러 -->모든 행열에 값이 들어가야함 널값은 허용 안됨

array([[ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25, 26, 27, 28, 29, 30],
       [31, 32, 33, 34, 35, 36, 37, 38, 39, 40],
       [41, 42, 43, 44, 45, 46, 47, 48, 49, 50]])

In [8]:
arr551.reshape(-1,10)  #--> '-' 삽입시 뒤의 열의 갯수를 보고 자동으로 행갯수를 조절

array([[ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25, 26, 27, 28, 29, 30],
       [31, 32, 33, 34, 35, 36, 37, 38, 39, 40],
       [41, 42, 43, 44, 45, 46, 47, 48, 49, 50]])

In [9]:
arr551  #--> 다시 실행시 형태는 원래대로 됨 --> 변경된 형태는 일시적--> reshape함수는 단순히 보여주는 것

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50])

In [10]:
arr551 = arr551.reshape(-1,10)  # 리프레쉬를 저장해주면 비로서 형태고정
arr551

array([[ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25, 26, 27, 28, 29, 30],
       [31, 32, 33, 34, 35, 36, 37, 38, 39, 40],
       [41, 42, 43, 44, 45, 46, 47, 48, 49, 50]])

In [11]:
ar_11 = np.arange(1,121).reshape(4,3,2,5)  #3행 2열 5깊이-->4개있다 -->3차원이 4개있다
print('모양은 : ',ar_11.shape)
print('차원은 : ',ar_11.ndim)
print('-'* 25)

ar_11

모양은 :  (4, 3, 2, 5)
차원은 :  4
-------------------------

array([[[[  1,   2,   3,   4,   5],
         [  6,   7,   8,   9,  10]],

        [[ 11,  12,  13,  14,  15],
         [ 16,  17,  18,  19,  20]],

        [[ 21,  22,  23,  24,  25],
         [ 26,  27,  28,  29,  30]]],


       [[[ 31,  32,  33,  34,  35],
         [ 36,  37,  38,  39,  40]],

        [[ 41,  42,  43,  44,  45],
         [ 46,  47,  48,  49,  50]],

        [[ 51,  52,  53,  54,  55],
         [ 56,  57,  58,  59,  60]]],


       [[[ 61,  62,  63,  64,  65],
         [ 66,  67,  68,  69,  70]],

        [[ 71,  72,  73,  74,  75],
         [ 76,  77,  78,  79,  80]],

        [[ 81,  82,  83,  84,  85],
         [ 86,  87,  88,  89,  90]]],


       [[[ 91,  92,  93,  94,  95],
         [ 96,  97,  98,  99, 100]],

        [[101, 102, 103, 104, 105],
         [106, 107, 108, 109, 110]],

        [[111, 112, 113, 114, 115],
         [116, 117, 118, 119, 120]]]])

In [12]:
ar_11[0][0][0][0]

1

In [13]:
ar_11_mean = np.mean(ar_11,axis=(1,3))
print('모양은 : ',ar_11_mean.shape)
print('차원은 : ',ar_11_mean.ndim)
print('-'* 25)

print(ar_11_mean)
ar_11_mean

모양은 :  (4, 2)
차원은 :  2
-------------------------
[[ 13.  18.]
 [ 43.  48.]
 [ 73.  78.]
 [103. 108.]]

array([[ 13.,  18.],
       [ 43.,  48.],
       [ 73.,  78.],
       [103., 108.]])

In [14]:
arr551  # numpy array

array([[ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25, 26, 27, 28, 29, 30],
       [31, 32, 33, 34, 35, 36, 37, 38, 39, 40],
       [41, 42, 43, 44, 45, 46, 47, 48, 49, 50]])

In [154]:
# 배열[배열조건식]
arr551[arr551%3==0].size  #16개
arr551[arr551%3==0]

array([ 3,  6,  9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48])

In [17]:
# 배열[배열조건식].재모양()
arr551[arr551%3==0].reshape(-1,4)

array([[ 3,  6,  9, 12],
       [15, 18, 21, 24],
       [27, 30, 33, 36],
       [39, 42, 45, 48]])

In [19]:
ar_12 = np.arange(1,121)
len(ar_12)
ar_12
len(ar_12)

120

In [20]:
# 랜덤값 numpy배열 생성하기
# np.random.rand(행,열) --> 실수형태로 배열 만들기
# 실수의 범위는 0~1 사이임
arr6= np.random.rand(4,4)  
arr6

array([[0.14632382, 0.70270717, 0.47769872, 0.64295182],
       [0.95780389, 0.35531264, 0.08238955, 0.31943172],
       [0.35925387, 0.22401211, 0.51340311, 0.37663847],
       [0.45373184, 0.52588454, 0.40847058, 0.71461511]])

In [49]:
import random 
a=random.random()  #0~1 사이 범위 실수
a

0.32277351369747187

In [117]:
import random 
b=random.randint(1,10)  #1~9범위 정수
b

3

In [98]:
# np.random.randint() -->(램덤의 시작값,끝값+1)
arr7= np.random.randint(1,10) # 1~9사이 정수
print(arr7)
arr7

2

2

In [120]:
#size=() --> 랜덤정수 numpy배열생성
arr8= np.random.randint(1,10,size=(4,3))  # shape는 에러
arr8

array([[1, 2, 9],
       [5, 5, 1],
       [1, 2, 6],
       [7, 7, 2]])

In [136]:
# 타입을 지정하여 배열생성하기
arr_type = np.array([1.2 , 2.3 , 3.5 , 4.5 , 5.5] , dtype =np.int32)
arr_type11 = np.array([1.2 , 2.3 , 3.5 , 4.5 , 5.5] , dtype =np.int64)
#arr_type
arr_type11
#arr_type.dtype
#arr_type11.dtype

array([1, 2, 3, 4, 5], dtype=int64)

In [137]:
# astype() --> 기존 배열의 타입을 바꿔주는 함수
arr_type1 = np.array([1.2,3.4,5.6])
arr_type1.dtype

dtype('float64')

In [141]:
print( '타입 변경전 :',arr_type1.dtype)
arr_type1 = arr_type1.astype('int64')  #()안에 따옴표
print( '타입 변경후 :',arr_type1.dtype)

타입 변경전 : int32
타입 변경후 : int64

### 배열연산

In [142]:
# 배열간의 연산은 가능하다
arr = np.array([1,2,3])
arr+arr

array([2, 4, 6])

In [143]:
# 다른 배열끼리 연산
arr1 =np.array([1,2,3])
arr2 =np.array([4,5,6])
arr1+arr2

array([5, 7, 9])

In [144]:
# 배열과 정수간의 연산도 가능
arr1+3

array([4, 5, 6])

In [145]:
# 2차원 배열간 연산
# arr2_a 에 1,2,3 / 4,5,6이 들어있는 2차원 배열
arr2_a= np.array([[1,2,3],[4,5,6]])
# arr2_b 에 7,8,9 / 10,11,12 들어있는 2차원 배열
arr2_b= np.array([[7,8,9],[10,11,12]])

In [146]:
# 배열간 덧셈 결과
arr2_a+arr2_b

array([[ 8, 10, 12],
       [14, 16, 18]])

In [147]:
# 배열간 뺄셈 결과
arr2_a-arr2_b

array([[-6, -6, -6],
       [-6, -6, -6]])

In [148]:
# 1.배열를 쉽게 생성하는 방법
arr2_c= np.arange(7,13).reshape(2,3)  # 7~12까지 요소
arr2_c

array([[ 7,  8,  9],
       [10, 11, 12]])

In [3]:
# 2.배열를 쉽게 생성하는 방법
arr88= np.random.randint(1,10,size=(4,3))  # shape는 에러
arr88

array([[7, 5, 2],
       [1, 6, 8],
       [3, 4, 3],
       [9, 9, 4]])

In [149]:
arr2_cb= np.arange(7,13)  
arr2_cb

array([ 7,  8,  9, 10, 11, 12])